* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input {
    margin: 10px 0px;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    border:unset;
    cursor: pointer;
    border-radius: 6px;
}
p {
    margin: 10px 0px;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

